@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<span class="fa_search"><i class="fas fa-search"></i></span><input type="text" id="myInput" form-control" onkeyup="myFunction()">
<a class="details_style" onClick="fnExcelReport()">Export Excel</a>
<a class="details_style" href="/RentedMovies/ExportExcel">Export Excel Rented</a>
<a class="details_style" href="/RentedMovies/SandMail">Sand Email</a>

